{{- if .Gateway -}}
package handlers

import (
    "fmt"
    
    "wumpgo.dev/wumpgo/rest"
    "wumpgo.dev/wumpgo/objects"
)

// Ready handles a Ready event and prints out the current username
func Ready(c *rest.Client, r *objects.Ready) {
	fmt.Println("Ready as", r.User.Username)
}
{{- end }}